* {
	margin: 0; 
	padding: 0; 
}
body { 
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: #fff;
	color: #999; 
	padding: 20px;
}
tr { 
	vertical-align: top;
}
.post { 
	height: 478px; 
}
section {
	position: fixed;
}


/* --- */

body#work {
  background-image: url("../images/frog-web.jpg");
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #ffffff;
  margin: 0;
  overflow-x: scroll;
}

body#index {
  background-attachment: fixed;
  background-position: right bottom, left top;; 
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #ffffff;
  margin: 0;
  overflow-x: none;
  -webkit-animation: marquee 18s infinite linear;
} 

.fixed {
  position: fixed;
}
.absolute {
  position: absolute
}

.container {
    text-align: center;
    margin: 15vh 0 0 0;
    z-index:2;
}

h1 {
    color: #fff;
    position: center;
    float: center;
    font-size: 2vh;
    font-family: "Vesper Libre", "open-sans", sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 8px #FF0000;
}

/*  GRID OF FOUR  */
.span_3_of_3 {
  width: 100%;
  height: 10%;
  transform: translate(33.3%,0);
  -webkit-transform: translate(33.3%,0);
  -ms-transform: translate(33.3%,0);
  position: fixed;
}
.span_2_of_3 {
  width: 66.6%;
  height: 10%;
}
.span_1_of_3 {
  width: 33.3%;
  height: 10%;
}

.section {
  clear: both;
  padding: 0px;
  margin: 30vh 0 0 0;
  z-index: 9998;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  text-align: center;
  margin: 0;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group {zoom:1; /* For IE 6/7 */ }

a {
  color: #fff;
  text-decoration: none;
}

.soc {
  display: block;
}
.soc li {
  display: inline-block;
}

#bloginfo {
  display: none;
  margin-bottom: 0;
  margin: 0 0 -10px 0;
  padding-bottom: 0;
}